<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'styles.css' %}">
    <title>CONTACT</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
      .contactbody{
      background-image: url("{% static 'contact.jpeg' %}");
    }
    </style>
  </head>
  <body class="contactbody">
    
    <nav class="navbar navbar-expand-sm justify-content-center fixed-top">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/homepage/">HOME</a>
          </li>
        </ul>
        
      </nav>
        <div class="row" >
            <div class="col-sm-3">
                <a href="#"><img src="{% static 'gmail.png' %}"  style="width: auto; height: 10vw" class="img-fluid"></a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.facebook.com/habel.tobing"><img src="{% static 'facebook.png' %}"  style="width: auto; height: 10vw" class="img-fluid"></a>
            </div>
            <div class="col-sm-3">
                <a href="https://twitter.com/Habelll"><img src="{% static 'twitter.png' %}"  style="width: auto; height: 10vw" class="img-fluid"> </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.instagram.com/habelct/?hl=en">x<img src="{% static 'ig.png' %}"  style="width: auto; height: 10vw" class="img-fluid"></a>
            </div>
        </div>
      
    

    

      
          
    </body>
</html>
